body{
    background-color: #e9d1f6;
    font-family: 'Open Sans', sans-serif;
}
.img{
    width: 5px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.h1{
    font-size: 5px;
    font-weight: bold;
    color: rgb(15, 51, 112);
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 60px;
    text-align: center ;
}
.p{
    font-size: 100px;
    color: rgb(16, 21, 77);
    margin: 0;
    padding: 0;
    padding-left: 60px;
}